<nav class="navbar navbar-expand-lg bg-dark p-3 navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Hotelemes</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="reserve">Hoteis</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="reservar_quarto">Reservar</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Quartos
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="solteiro">Solteiro</a></li>
                            <li><a class="dropdown-item" href="casal">Casal</a></li>
                            <li><a class="dropdown-item" href="comfort">Comfort</a></li>
                            <li><a class="dropdown-item" href="luxo">Luxo</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="nome">Cadastro</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="login">Login</a>
                    </li>
                {% endif %}
            </ul>
            {% if user.is_authenticated %}
                <ul class="navbar-nav ms-auto d-flex align-items-center">
                    <li class="nav-item">
                        <a class="nav-link active d-flex align-items-center" aria-current="page" href="profile">
                            <i class="bi bi-person-circle me-2"></i>{{ user.first_name }}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active d-flex align-items-center" aria-current="page" href="logout">
                            <i class="bi bi-box-arrow-right" style="margin-left: 10px; margin-right: 5px;"></i> Sair
                        </a>
                    </li>
                </ul>
            {% endif %}
        </div>
    </div>
</nav>

<style>
    .navbar-nav .nav-link {
        position: relative;
        transition: color 0.3s ease;
    }

    .navbar-nav .nav-link:hover {
        color: #ffc107;
    }

    .navbar-nav .nav-link.active:hover .bi-box-arrow-right {
        transform: rotate(90deg);
    }
</style>
