{% extends 'index.html' %}

{% block title %}
    Reserva Efetuada com Sucesso
{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card bg-success border-0 shadow rounded-lg">
                <div class="card-body">
                    <h2 class="card-title text-center text-white">Reserva Efetuada com Sucesso!</h2>
                    <p class="card-text text-center text-white">Sua reserva foi confirmada.</p>
                    <div class="text-center">
                        <a href="/" class="btn btn-primary">Voltar para a Home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
